#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  width: 80px;
  height: 4rem;
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.mdn{
  filter: contrast(5%) sepia(5) hue-rotate(15deg) saturate(1000%);
	transform: scale(1.2);
	&:hover{
  filter: contrast(5%) sepia(5) hue-rotate(310deg) saturate(1000%);
	}
}
.imgpuro{
	width:50%;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.container{
  padding: 1em !important;
  min-width: 80dvw;
  min-height: 80dvh;
  max-height: 100vmax;
  max-width: 100vmin;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  scroll-behavior: smooth;
  text-align: justify;
}

.container::-webkit-scrollbar{
  width: 10px;
}

.container::-webkit-scrollbar-track{
  background-color: rgba(255, 255, 255, 0.27);
  border-radius: 5px;
}

.container::-webkit-scrollbar-thumb{
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:hover{
  background-color: rgba(55, 155, 155, 0.87);
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:active{
  background-color: rgba(115, 155, 155, 0.87);
  border-radius: 10px;
}
