pre{
    padding: 10px;
}

.green{
    color: rgb(52, 209, 105);
}

.greendark{
    color: rgb(27, 156, 70);;
}

.pink{
    color: rgb(247, 98, 202);
}

.yellow{
    color: rgb(255, 217, 0);
}

.orange{
    color: orange;
}

.celeste{
    color: rgb(96, 204, 243);
}

.blue{
    color: rgb(0,100, 255);
}

.white{
    color: #fff;
}

.note{
    color: rgba(20, 158, 202, 1);
}

.shadow{
    color: #7799ffdd;
    font-style: italic;
}

hr{
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.87);
    border-width:3px;
    border-radius: 10px;
}
.ide{
    background-color: #000;
    max-height: 100vmax;
    max-width: 100vmin;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #fff;
}

.alert{
    display: flex;
    flex-direction: column;
    color: rgb(255, 166, 0);
    border-radius: 20px;
    background-color: rgba(92, 60, 0, 0.596);
    & span {
        padding: 10px;
        & span{
            padding: 0;
        }
    }
    & pre span{
        padding: 0;
    }
}

.great{
    display: flex;
    flex-direction: column;
    color: rgb(0, 255, 0);
    border-radius: 20px;
    background-color: rgba(0, 92, 41, 0.596);
    & span {
        padding: 10px;
        & span{
            padding: 0;
        }
    }
    & pre span{
        padding: 0;
    }
}
.warning{
		display: flex;
    flex-direction: column;
    color: rgb(255, 0, 0);
    border-radius: 20px;
    background-color: rgba(55, 0, 0, 0.596);
    & span {
        padding: 10px;
        & span{
            padding: 0;
        }
    }
    & pre span{
        padding: 0;
    }
}
img{
    width: 90%;
    height: 100%;
}

.important{
    z-index: 1;
    position: relative;
    & span:nth-child(10)::after{
        content: " ";
        position: absolute;
        width: 40pc;
        left: 1px;
        opacity: .2;
        background-color: rgb(241, 113, 54);
    }
    & span:nth-last-child(3)::after{
        content: " ";
        position: absolute;
        width: 40pc;
        left: 1px;
        opacity: .2;
        background-color: rgb(241, 113, 54);
    }
}
