pre{
    padding: 10px;
}
.green{
    color: rgb(52, 209, 105);
}
.greendark{
    color: rgb(27, 156, 70);;
}
.pink{
    color: rgb(247, 98, 202);
}
.yellow{
    color: rgb(255, 217, 0);
}
.orange{
    color: orange;
}
.celeste{
    color: rgb(50, 200, 255);
}
.blue{
    color: rgb(0,100, 255);
}
.white{
    color: #fff;
}
.note{
    color: rgba(20, 158, 202, 1);
}
.shadow{
    font-weight: bolder;
    color: #0ff00f;
    text-shadow: 0px 4px 4px #08f , -0px -4px 4px #08f;
}
hr{
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.87);
    border-width:3px;
    border-radius: 10px;
}
.ide{
    background-color: rgb(30, 30, 30);
    max-height: 100vmax;
    max-width: 100vmin;
}

.alert{
    display: flex;
    flex-direction: column;
    color: orange;
    & span {
        padding: 10px;
        width: 80dvw;
        & span{
            padding: 0;
        }
    }
    & pre span{
        padding: 0;
    }
}